<div class="post-container">
  <div class="user">
    <div class="user-info">
      <div class="user-photo">
        <img src="/img/users/<%=post.user.photo%>" alt="user-photo" />
      </div>
      <div class="user-name">
        <p><a href="/<%=post.user.id%>"><%=post.user.name%></a></p>
      </div>
    </div>
    <%if(user.id==post.user.id){%>
    <div class="dlt">
      <button class="dlt-btn" data-dlt-id="<%=post.id%>">
        <img
          src=" https://www.flaticon.com/svg/static/icons/svg/1828/1828843.svg"
        />
      </button>
    </div>
    <%}%>
  </div>
  <div class="post">
    <div class="post-img">
      <img src="/img/posts/<%=post.photo%>" />
    </div>
    <div class="post-activity">
      <button class="like-unlike" data-like-id="<%=post.id%>">
        <img
          src="https://www.flaticon.com/svg/static/icons/svg/3507/3507627.svg"
        />
      </button>
      <button class="comment-pop-btn">
        <img
          src=" https://www.flaticon.com/svg/static/icons/svg/2462/2462719.svg"
          alt="comment-icon"
        />
      </button>
    </div>
    <div class="likes"><%=post.likes.length%> likes</div>
    <div class="post-content">
      <p><%=post.content %></p>
    </div>
  </div>
  <div class="comment-form">
    <form>
      <input type="text" class="comment" placeholder="Add a comment..." />
      <button class="comment-btn" data-comment-id="<%=post.id%>">Post</button>
    </form>
  </div>
</div>
